h1{
    text-align: center;
    color: rgb(255, 255, 255);
}

main{
  text-align: center;
  border: 2px; background-color:brown;
  padding: 10px;
}

header{
 background-color: brown;

}

.bordered{
    border: 2px solid white;
   background-color: white;
}

img{
   width: 280px;
    height: 200px; 
}
